.header {
  background-color: #1E293B;
  color: #06B6D4;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
    z-index: 1000;
}

.link {
  display: flex;
  gap: 40px;
}

h1 {
  margin-bottom: 20px;
}
.login-btn {
  text-decoration: none;
  background-color: #222;
  color: #06B6D4;
  padding: 10px 18px;
  border: 2px solid #06B6D4;
  border-radius: 20px;
  transition: 0.3s;
}

.register-btn {
  text-decoration: none;
  background: linear-gradient(135deg, #7C3AED, #8B5CF6);
    color: #F8FAFC;
    border: 2px solid #391a6f;
  padding: 10px 18px;
  border-radius: 20px;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #1E293B;
  color: #fff;
  transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(56, 30, 99, 0.45);
}

.register-btn:hover {
  background: #0F172A;
    color: #06B6D4;
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(124,58,237,.45);
}